@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    height: 100%;
    background-color: 236, 240, 241;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

li {
    list-style: none;
}

.desktop {
    display: none;
}

.btnMenu {
    display: block;
    background-color: #d63031;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

.btnMenu_open {
    background-image: url(/img/open-menu.svg);
}

.btnMenu_close {
    background-image: url(/img/close.svg);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    background-color: white;
}

.menu_open {
    transform: translateX(0);
}

.menu-item {
    padding: 20px 15px;
    border-bottom: 1px solid #d63031;
}

.menu-item-action {
    color: #d63031;
    font-weight: bold;
    text-decoration: none;
    font-size: medium;
}

.logo1 {
    width: 180px
}

.logo1 {
    margin-left: 20px;
}

.banner {
    text-align: center;
    margin-top: 80px;
}

.banner img {
    margin-bottom: 80px;
}

.title1 {
    color: black;
    font-family: 'DM Mono', monospace;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 40px;
}

.banner p {
    font-size: medium;
    margin: 50px;
}

.banner a {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 15px;
    transition: 0.4s linear;
}

.title {
    color: rgba(30, 39, 46, 1.0);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.border {
    width: 30%;
    border: 2px solid #d63031;
    margin: 0 auto 10px;
}

.text {
    text-align: center;
    margin: 50px;
    font-size: medium;
}


/* index */

.services {
    text-align: center;
}

.cen {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service {
    display: inline-block;
    height: 291px;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover {
    background: #ddd;
}

.service i {
    color: #d63031;
    font-size: 34px;
    margin-bottom: 30px;
}

.service h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

.service p {
    font-size: medium;
    font-weight: 500;
}


/* projetos */

.wrapper-section {
    padding: 0 10px 0 10px;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
}

.btn-banner1 {
    color: #d63031;
    border: 2px solid #d63031;
}

.btn-banner2 {
    color: white;
    border: 2px solid #d63031;
    background-color: #d63031;
}

form {
    text-align: center;
}

.nome,
.email,
.nickname {
    background: none;
    border: none;
    border-bottom: 1px solid;
    color: #c1c9d1;
    padding: 10px 6px;
    margin: 30px 20px;
    text-align: left;
    width: 70%;
    font-size: medium;
    outline: none;
}

form p>a,
span {
    margin: 7px;
    color: #d63031;
    font-weight: bold;
}

form>button {
    padding: 20px 30px;
    margin: 30px;
    background: rgba(255, 94, 87, 1.0);
    border: 1px solid;
    border-radius: 70px;
    font-size: medium;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.wrapper-div {
    margin: 0 auto;
}

.accordion-item {
    background-color: rgba(255, 94, 87, 1.0);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 270px;
}

.accordion-link {
    color: white;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.answer p {
    text-align: justify;
    color: white;
}

.photo {
    height: 200px;
    width: auto;
    margin: 0 auto;
    padding: 70px 0px;
}

.container-timeline {
    position: relative;
}

.container-timeline:before {
    content: '';
    width: 8px;
    height: 100%;
    position: absolute;
}

.content-timeline {
    background: rgba(241, 242, 246, 1.0);
    padding: 2px 5px;
    margin: 20px 60px;
    width: 350;
    border-radius: 8px;
    position: relative;
}

.content-timeline h2 {
    color: #d63031;
    margin-left: 12px;
    font-weight: bold;
    font-size: large;
}

.content-timeline p {
    margin-left: 12px;
    text-align: left;
}

.content-timeline:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    left: -10px;
    transform: translateY(-50%) rotate(45deg);
}

.color1:after {
    content: '';
    width: 36px;
    height: 36px;
    background-color: #d63031;
    border-radius: 50%;
    position: absolute;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);
}

.color2:after {
    content: '';
    width: 36px;
    height: 36px;
    background-color: #ffa502;
    border-radius: 50%;
    position: absolute;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);
}

.color3:after {
    content: '';
    width: 36px;
    height: 36px;
    background-color: #2ecc71;
    border-radius: 50%;
    position: absolute;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);
}

.color4:after {
    content: '';
    width: 36px;
    height: 36px;
    background-color: #2980b9;
    border-radius: 50%;
    position: absolute;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);
}

.team-div {
    text-align: center;
}

.po {
    padding: 40px 0;
    text-align: center;
}

.po img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.p-name {
    color: #d63031;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.p-desc {
    text-align: center;
}


/* ---------------------------*/


/* eventos */

.gallery-section {
    width: 100%;
    padding: 60px 0;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-section h1 {
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image {
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .image:hover img {
    transform: scale(1.4) rotate(15deg);
}


/* sobre */

.imgsobre {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 300px;
    padding: 15px;
}

.imgsobre img {
    width: 250px;
    height: 250px;
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 350px;
    padding: 15px;
}

.textsobre {
    text-align: justify;
    font-size: large;
    font-weight: 500;
    color: black;
}


/* FIM DA PÁGINA SOBRE

--------------------------------

COMEÇO DA PÁGINA PROJETOS */

.item1 {
    margin-top: 50px;
}

.item label {
    display: block;
    padding: 10px;
    background-color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
    color: #333333;
    border-bottom: solid 2px #aaaaaa;
}

.item label:hover {
    background-color: #d63031;
    transition: all .4s linear;
}

.item ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: all .4s linear;
}

.item input {
    display: none;
}

.item ul li a {
    width: 100%;
    height: 20px;
    display: block;
    text-decoration: none;
    border-bottom: solid 2px #d63031;
}

.item input:checked~ul {
    height: auto;
    max-height: 200px;
    transform: all;
}

.li {
    max-width: 300px;
}


/* footer */

footer {
    background: #f1f1f1;
    padding: 90px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: #d63031;
}

.right-col h1 {
    font-size: 26px;
}

.border1 {
    width: 100px;
    height: 4px;
    background: #d63031;
}


/* fim footer */


/* ANIMAÇÃO DAS IMAGENS COM JAVASCRIPT */

[data-anime] {
    opacity: 0;
    transition: .4s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}